/* Font Link From Google */
@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

body {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.text-primary {
  color: blueviolet;
}

.dark-2 {
  color: #474747;
}

.btn-primary {
  background-color: #fd6e0a;
  font-size: 20px;
  font-family: "Playwrite GB S", cursive;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
}

.header {
  background-image: url("../assets/images/developer.png"),
    url("../assets/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.section-title {
  font-size: 35px;
  color: #181818;
}

.section-description {
  font-size: 18px;
  color: #757575;
}

.secondery-background {
  background-color: #fff8f3;
}

/* Nav style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}

.nav-title {
  font-weight: 800px;
  font-size: 30px;
}

nav > ul > li {
  list-style-type: none;
  margin-right: 50px;
}

nav > ul > li > a {
  text-decoration: none;
  font-size: 20px;
}

nav > ul {
  display: flex;
  align-items: center;
}

/* Banner style */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}

.banner-content {
  max-width: 580px;
}

.banner-greetings {
  font-size: 45px;
}

.banner-title {
  font-size: 85px;
}

.banner-description {
  font-size: 18px;
  text-align: justify;
}

.banner-profile-pic {
  width: 580px;
}

/* main style */
main {
  /* padding-top: 55px; */
  max-width: 1140px;
  margin: 0 auto;
}

/* About style */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}

.about-items {
  display: flex;
  justify-content: space-around;
}

.item-title {
  font-weight: 100px;
  margin-bottom: 0;
}

.item-description {
  font-weight: 400px;
}
